# ── Aplicación ───────────────────────────────
APP_ENV=production
PORT=5000

# ── Docker Hub ───────────────────────────────
DOCKER_USERNAME=yourusername
IMAGE_TAG=latest

# ── Base de datos ─────────────────────────────
POSTGRES_DB=devopsdb
POSTGRES_USER=devops
POSTGRES_PASSWORD=devops123
DATABASE_URL=postgresql://devops:devops123@db:5432/devopsdb

# ── Render.com ────────────────────────────────
RENDER_SERVICE_ID=your_service_id
RENDER_API_KEY=your_api_key
RENDER_APP_URL=your-app.onrender.com
